<!DOCTYPE html>
<html>

<head>
  <title>Standard User</title>
  <!-- Add Bootstrap CSS link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <!-- <link rel="stylesheet" href="./../static/styles/standard_home.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/standard_home.css') }}" />
</head>

<body>
  <!-- Bootstrap Navbar -->
  {% if not is_aop_data %}
  <header class="head">
    <img src="{{ url_for('static',filename='images/flipkartlogo.png') }}" alt="Flipkart Logo" onclick="logOutPage()" />
    <h1>Manpower Deployment Tool</h1>

  </header>

  {% endif %} {% with messages = get_flashed_messages() %} {% if messages %}
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %} {% endif %} {% endwith %} {% if not active_head %}

  <div class="result-box" style="display:none;">
    <div class="innerBox">
      <table class="styled-table">
        <tr>
          <p>AOP</p>
        </tr>
        <tr>
          <th>UHD</th>
          <th>HD</th>
          <th>MD</th>
          <th>LD</th>
        </tr>
        <tr>
          <td id="updated-aop_uhd">0</td>
          <td id="updated-aop_high">0</td>
          <td id="updated-aop_mid">0</td>
          <td id="updated-aop_low">0</td>
        </tr>
      </table>
      <table class="styled-table">
        <tr>
          <p>Active Head Count</p>
        </tr>
        <tr>
          <th>UHD</th>
          <th>HD</th>
          <th>MD</th>
          <th>LD</th>
        </tr>
        <tr>
          <td id="updated-act_0"></td>
          <td id="updated-act_1"></td>
          <td id="updated-act_2"></td>
          <td id="updated-act_3"></td>
        </tr>
      </table>
      <table class="styled-table">
        <tr>
          <p>Remaining Slots</p>
        </tr>
        <tr>
          <th>UHD</th>
          <th>HD</th>
          <th>MD</th>
          <th>LD</th>
        </tr>
        <tr>
          <td id="updated-slot_uhd">" data['uhd'] "</td>
          <td id="updated-slot_high">" data['high'] "</td>
          <td id="updated-slot_mid">" data['mid'] "</td>
          <td id="updated-slot_low">" data['low'] "</td>
        </tr>
      </table>
    </div>


  </div>
  <div id="alert-container"></div>

  {% elif active_head %}

  <div class="result-box">
    <div class="innerBox">
      <table class="styled-table">
        <tr>
          <p>AOP</p>
        </tr>
        <tr>
          <th>UHD</th>
          <th>HD</th>
          <th>MD</th>
          <th>LD</th>
        </tr>
        <tr>
          <td id="updated-aop_uhd">{{data1["uhd"]}}</td>
          <td id="updated-aop_high">{{data1["high"]}}</td>
          <td id="updated-aop_mid">{{data1["mid"]}}</td>
          <td id="updated-aop_low">{{data1["low"]}}</td>
        </tr>
      </table>
      <table class="styled-table">
        <tr>
          <p>Active Head Count</p>
        </tr>
        <tr>
          <th>UHD</th>
          <th>HD</th>
          <th>MD</th>
          <th>LD</th>
        </tr>
        <tr>
          <td id="updated-act_0">{{data2[0]}}</td>
          <td id="updated-act_1">{{data2[1]}}</td>
          <td id="updated-act_2">{{data2[2]}}</td>
          <td id="updated-act_3">{{data2[3]}}</td>
        </tr>
      </table>
      <table class="styled-table">
        <tr>
          <p>Remaining Slots</p>
        </tr>
        <tr>
          <th>UHD</th>
          <th>HD</th>
          <th>MD</th>
          <th>LD</th>
        </tr>
        <tr>
          <td id="updated-slot_uhd">{{data3["uhd"]}}</td>
          <td id="updated-slot_high">{{data3["high"]}}</td>
          <td id="updated-slot_mid">{{data3["mid"]}}</td>
          <td id="updated-slot_low">{{data3["low"]}}</td>
        </tr>
      </table>
    </div>


  </div>
  <div id="alert-container"></div>
  {% endif %}

  {% if not is_aop_data %}
  <div class="innerDiv">
    <form action="/update-active-count/" method="post" id="update-form">
      <label for="hub_name" class="select_hub_name">Select Hub Name : </label>
      <select name="hub_name" id="fetch_aop" onchange="fetchAndDisplayData()">
        <option value="" disabled selected>Select Hub</option>
        {% for i in data %}
        <option value="{{i.loc_name}}">{{i.loc_name}}</option>
        {% endfor %}
      </select><br />
      <label label>Select your Models : </label>
      <select name="model" id="model" required>
        <option value="" disabled selected>Select Models</option>
        <option value="EFLEX">EFLEX -> (MD)</option>
        <option value="EKARTOthers">EKARTOthers -> (LD)</option>
        <option value="EKARTWM">EKARTWM -> (LD)</option>
        <option value="KIRANA">KIRANA -> (HD)</option>
        <option value="LMA">LMA -> (MD)</option>
        <option value="CB">CB -> (LD)</option>
        <option value="RFK">RFK -> (LD)</option>
        <option value="TRUEFLEXRegular">TRUEFLEXRegular -> (MD)</option>
        <option value="TrueflexLCM">TrueflexLCM -> (HD)</option>
        <option value="TrueflexUHD">TrueflexUHD -> (UHD)</option>
      </select>
      <br />
      <label>Employee Name : </label>
      <input type="text" placeholder="Enter Employee Name ..." id="username" required><br />
      <label>PAN Number : </label>
      <input type="text" placeholder="Enter PAN Number ..." id="pan_no" required><br />
      <!--<label>Rate : </label>
      <input type="number" placeholder="Enter Rate ..." id="rate" required><br /> -->
      <input type="submit" value="Submit" class="secondaryButton">
      <!-- <button onclick="updateActiveCount()" class="secondaryButton">Submit</button> -->
    </form>
  </div>
  {% endif %}
  </form>
  <!-- Add Bootstrap JS and jQuery links -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function createUpdatedTable(data) {
      document.getElementById("updated-aop_uhd").innerText = data.aop_count.uhd;
      document.getElementById("updated-aop_high").innerText = data.aop_count.high;
      document.getElementById("updated-aop_mid").innerText = data.aop_count.mid;
      document.getElementById("updated-aop_low").innerText = data.aop_count.low;

      document.getElementById("updated-slot_uhd").innerText = data.slot_left.uhd;
      document.getElementById("updated-slot_high").innerText = data.slot_left.high;
      document.getElementById("updated-slot_mid").innerText = data.slot_left.mid;
      document.getElementById("updated-slot_low").innerText = data.slot_left.low;

      document.getElementById("updated-act_0").innerText = data.active_head[0];
      document.getElementById("updated-act_1").innerText = data.active_head[1];
      document.getElementById("updated-act_2").innerText = data.active_head[2];
      document.getElementById("updated-act_3").innerText = data.active_head[3];
      updateBackgroundColor();
    }

    async function fetchAndDisplayData() {
      let formStyle = document.getElementById("update-form");
      

      const hubName = document.getElementById("fetch_aop").value;
      console.log("jhdjhasdfshd" +hubName)
      try {
        const response = await fetch("/fetch-aop/", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: `hub_name=${hubName}`,
        });
        
        if (response.ok) {
          const data = await response.json();
          console.log(document.getElementsByClassName("result-box")[0].style)
          document.getElementsByClassName("result-box")[0].style.display = "flex";
          
          createUpdatedTable(data);
        } else {
          // Display alert message
          const alertContainer = document.getElementById("alert-container");
          alertContainer.innerHTML = `
        <div class="alert alert-danger" role="alert">
          Data not found for selected hub.
        </div>
      `;

          //Refresh the page after displaying the alert
          setTimeout(() => {
            location.reload(true);
          }, 1000); // Refresh after 1 seconds (adjust the delay as needed)
        }
      } catch (error) {
        console.error("Error fetching data:", error);
      }
    }
    const model = document.getElementById("model").value;
    const username = document.getElementById("username").value;
    const pan_no = document.getElementById("pan_no").value;
    const hubName = document.getElementById("fetch_aop").value;
    const data = {
      hubName,
      model,
      username,
      pan_no,
    };

    function logOutPage() {
      window.location = "/login/";
    }

    function updateBackgroundColor() {

      const slotUHD = parseInt(document.getElementById("slot_uhd")?.innerText);
      const slotHD = parseInt(document.getElementById("slot_high")?.innerText);
      const slotMD = parseInt(document.getElementById("slot_mid")?.innerText);
      const slotLD = parseInt(document.getElementById("slot_low")?.innerText);


      const updatedSlotUHD = parseInt(
        document.getElementById("updated-slot_uhd")?.innerText
      );
      const updatedSlotHD = parseInt(
        document.getElementById("updated-slot_high")?.innerText
      );
      const updatedSlotMD = parseInt(
        document.getElementById("updated-slot_mid")?.innerText
      );
      const updatedSlotLD = parseInt(
        document.getElementById("updated-slot_low")?.innerText
      );

      console.log(updatedSlotLD,updatedSlotHD,updatedSlotMD,updatedSlotUHD);

      if (slotUHD < 5) {
        console.log("hhhh");
        document.getElementById("slot_uhd").style.backgroundColor = "red";
      }
      if (slotHD < 5) {
        document.getElementById("slot_high").style.backgroundColor = "red";
      }
      if (slotMD < 5) {
        document.getElementById("slot_mid").style.backgroundColor = "red";
      }
      if (slotLD < 5) {
        document.getElementById("slot_low").style.backgroundColor = "red";
      }


      if (updatedSlotLD < 5) {
        document.getElementById("updated-slot_low").style.backgroundColor = "red";
      }
      if (updatedSlotMD < 5) {
        document.getElementById("updated-slot_mid").style.backgroundColor = "red";
      }
      if (updatedSlotHD < 5) {
        document.getElementById("updated-slot_high").style.backgroundColor = "red";
      }
      if (updatedSlotUHD < 5) {
        document.getElementById("updated-slot_uhd").style.backgroundColor = "red";
      }
    }

    updateBackgroundColor();

  </script>
</body>

</html>

